/.idea
/.vscode
/.vagrant
/node_modules
/vendor
.idea
.idea/php.xml
.idea/watcherTasks.xml
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/.htpasswd
/public/.htaccess
/public/galleries
.htpasswd
.htaccess
/cache/compilation_cache
